<div class="pizzas">
    <div class="row pizzas">
        <div class="col-md-4 col-lg-4 pizza-card">
            <div class="thumbnail">
                <img class="pizza-icon" src="images/pizza_7.jpg" alt="Pizza">
                <h3 class="pizza-label-new"><span class="label label-danger">Нова</span></h3>
                <div class="caption">
                    <span class="title">Імпреза</span>
                    <div class="type">М’ясна піца</div>
                    <div class="description">
                        балик, салямі, куриця, сир моцарелла, сир рокфорд, ананаси, томатна паста, петрушка
                    </div>
                    <div class="row">
                        <div class="col-sm-6 pizza-small">
                            <div>
                                <img class="ui right spaced avatar image" src="images/size-icon.svg">
                                <span class="diagonal">30</span>
                            </div>
                            <div>
                                <img class="ui right spaced avatar image" src="images/weight.svg">
                                <span class="gram">370</span>
                            </div>
                            <h2>
                                <div class="price">99<div style="font-size:14px;"> грн.</div></div>
                            </h2>
                            <a class="btn btn-warning buy-button-small" role="button">Купити</a>
                        </div>



                        <div class="col-sm-6 pizza-big">
                            <div>
                                <img class="ui right spaced avatar image" src="images/size-icon.svg">
                                <span class="diagonal">40</span>
                            </div>
                            <div>
                                <img class="ui right spaced avatar image" src="images/weight.svg">
                                <span class="gram">660</span>
                            </div>
                            <h2>
                                <div class="price">169<div style="font-size:14px;"> грн.</div></div>
                            </h2>
                            <a class="btn btn-warning  buy-button-big" role="button">Купити</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 pizza-card">
            <div class="thumbnail">
                <img class="pizza-icon" src="images/pizza_7.jpg" alt="Pizza">
                <h3 class="pizza-label-new"><span class="label label-danger">Нова</span></h3>
                <div class="caption">
                    <span class="title">Імпреза</span>
                    <div class="type">М’ясна піца</div>
                    <div class="description">
                        балик, салямі, куриця, сир моцарелла, сир рокфорд, ананаси, томатна паста, петрушка
                    </div>
                    <div class="row">
                        <div class="col-sm-6 pizza-small">
                            <div>
                                <img class="ui right spaced avatar image" src="images/size-icon.svg">
                                <span class="diagonal">30</span>
                            </div>
                            <div>
                                <img class="ui right spaced avatar image" src="images/weight.svg">
                                <span class="gram">370</span>
                            </div>
                            <h2>
                                <div class="price">99<div style="font-size:14px;"> грн.</div></div>
                            </h2>
                            <a class="btn btn-warning buy-button-small" role="button">Купити</a>
                        </div>



                        <div class="col-sm-6 pizza-big">
                            <div>
                                <img class="ui right spaced avatar image" src="images/size-icon.svg">
                                <span class="diagonal">40</span>
                            </div>
                            <div>
                                <img class="ui right spaced avatar image" src="images/weight.svg">
                                <span class="gram">660</span>
                            </div>
                            <h2>
                                <div class="price">169<div style="font-size:14px;"> грн.</div></div>
                            </h2>
                            <a class="btn btn-warning  buy-button-big" role="button">Купити</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 pizza-card">
            <div class="thumbnail">
                <img class="pizza-icon" src="images/pizza_7.jpg" alt="Pizza">
                <h3 class="pizza-label-new"><span class="label label-danger">Нова</span></h3>
                <div class="caption">
                    <span class="title">Імпреза</span>
                    <div class="type">М’ясна піца</div>
                    <div class="description">
                        балик, салямі, куриця, сир моцарелла, сир рокфорд, ананаси, томатна паста, петрушка
                    </div>
                    <div class="row">
                        <div class="col-sm-6 pizza-small">
                            <div>
                                <img class="ui right spaced avatar image" src="images/size-icon.svg">
                                <span class="diagonal">30</span>
                            </div>
                            <div>
                                <img class="ui right spaced avatar image" src="images/weight.svg">
                                <span class="gram">370</span>
                            </div>
                            <h2>
                                <div class="price">99<div style="font-size:14px;"> грн.</div></div>
                            </h2>
                            <a class="btn btn-warning buy-button-small" role="button">Купити</a>
                        </div>



                        <div class="col-sm-6 pizza-big">
                            <div>
                                <img class="ui right spaced avatar image" src="images/size-icon.svg">
                                <span class="diagonal">40</span>
                            </div>
                            <div>
                                <img class="ui right spaced avatar image" src="images/weight.svg">
                                <span class="gram">660</span>
                            </div>
                            <h2>
                                <div class="price">169<div style="font-size:14px;"> грн.</div></div>
                            </h2>
                            <a class="btn btn-warning  buy-button-big" role="button">Купити</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-xm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-xm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-xm-12 col-md-4 col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-xm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-xm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-xm-12 col-md-4 col-lg-4"></div>
    </div>
</div>
<div class="pizzas">
    <div class="row pizzas">
        <div class="col-md-4 col-lg-4 pizza-card">
            <div class="thumbnail">
                <img class="pizza-icon" src="images/pizza_7.jpg" alt="Pizza">
                <h3 class="pizza-label-new"><span class="label label-danger">Нова</span></h3>
                <div class="caption">
                    <span class="title">Імпреза</span>
                    <div class="type">М’ясна піца</div>
                    <div class="description">
                        балик, салямі, куриця, сир моцарелла, сир рокфорд, ананаси, томатна паста, петрушка
                    </div>
                    <div class="row">
                        <div class="col-sm-6 pizza-small">
                            <div>
                                <img class="ui right spaced avatar image" src="images/size-icon.svg">
                                <span class="diagonal">30</span>
                            </div>
                            <div>
                                <img class="ui right spaced avatar image" src="images/weight.svg">
                                <span class="gram">370</span>
                            </div>
                            <h2>
                                <div class="price">99<div style="font-size:14px;"> грн.</div></div>
                            </h2>
                            <a class="btn btn-warning buy-button-small" role="button">Купити</a>
                        </div>



                        <div class="col-sm-6 pizza-big">
                            <div>
                                <img class="ui right spaced avatar image" src="images/size-icon.svg">
                                <span class="diagonal">40</span>
                            </div>
                            <div>
                                <img class="ui right spaced avatar image" src="images/weight.svg">
                                <span class="gram">660</span>
                            </div>
                            <h2>
                                <div class="price">169<div style="font-size:14px;"> грн.</div></div>
                            </h2>
                            <a class="btn btn-warning  buy-button-big" role="button">Купити</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 pizza-card">
            <div class="thumbnail">
                <img class="pizza-icon" src="images/pizza_7.jpg" alt="Pizza">
                <h3 class="pizza-label-new"><span class="label label-danger">Нова</span></h3>
                <div class="caption">
                    <span class="title">Імпреза</span>
                    <div class="type">М’ясна піца</div>
                    <div class="description">
                        балик, салямі, куриця, сир моцарелла, сир рокфорд, ананаси, томатна паста, петрушка
                    </div>
                    <div class="row">
                        <div class="col-sm-6 pizza-small">
                            <div>
                                <img class="ui right spaced avatar image" src="images/size-icon.svg">
                                <span class="diagonal">30</span>
                            </div>
                            <div>
                                <img class="ui right spaced avatar image" src="images/weight.svg">
                                <span class="gram">370</span>
                            </div>
                            <h2>
                                <div class="price">99<div style="font-size:14px;"> грн.</div></div>
                            </h2>
                            <a class="btn btn-warning buy-button-small" role="button">Купити</a>
                        </div>



                        <div class="col-sm-6 pizza-big">
                            <div>
                                <img class="ui right spaced avatar image" src="images/size-icon.svg">
                                <span class="diagonal">40</span>
                            </div>
                            <div>
                                <img class="ui right spaced avatar image" src="images/weight.svg">
                                <span class="gram">660</span>
                            </div>
                            <h2>
                                <div class="price">169<div style="font-size:14px;"> грн.</div></div>
                            </h2>
                            <a class="btn btn-warning  buy-button-big" role="button">Купити</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 pizza-card">
            <div class="thumbnail">
                <img class="pizza-icon" src="images/pizza_7.jpg" alt="Pizza">
                <h3 class="pizza-label-new"><span class="label label-danger">Нова</span></h3>
                <div class="caption">
                    <span class="title">Імпреза</span>
                    <div class="type">М’ясна піца</div>
                    <div class="description">
                        балик, салямі, куриця, сир моцарелла, сир рокфорд, ананаси, томатна паста, петрушка
                    </div>
                    <div class="row">
                        <div class="col-sm-6 pizza-small">
                            <div>
                                <img class="ui right spaced avatar image" src="images/size-icon.svg">
                                <span class="diagonal">30</span>
                            </div>
                            <div>
                                <img class="ui right spaced avatar image" src="images/weight.svg">
                                <span class="gram">370</span>
                            </div>
                            <h2>
                                <div class="price">99<div style="font-size:14px;"> грн.</div></div>
                            </h2>
                            <a class="btn btn-warning buy-button-small" role="button">Купити</a>
                        </div>



                        <div class="col-sm-6 pizza-big">
                            <div>
                                <img class="ui right spaced avatar image" src="images/size-icon.svg">
                                <span class="diagonal">40</span>
                            </div>
                            <div>
                                <img class="ui right spaced avatar image" src="images/weight.svg">
                                <span class="gram">660</span>
                            </div>
                            <h2>
                                <div class="price">169<div style="font-size:14px;"> грн.</div></div>
                            </h2>
                            <a class="btn btn-warning  buy-button-big" role="button">Купити</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-xm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-xm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-xm-12 col-md-4 col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-xm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-xm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-xm-12 col-md-4 col-lg-4"></div>
    </div>
</div>
<div class="pizzas">
    <div class="row pizzas">
        <div class="col-md-4 col-lg-4 pizza-card">
            <div class="thumbnail">
                <img class="pizza-icon" src="images/pizza_7.jpg" alt="Pizza">
                <h3 class="pizza-label-new"><span class="label label-danger">Нова</span></h3>
                <div class="caption">
                    <span class="title">Імпреза</span>
                    <div class="type">М’ясна піца</div>
                    <div class="description">
                        балик, салямі, куриця, сир моцарелла, сир рокфорд, ананаси, томатна паста, петрушка
                    </div>
                    <div class="row">
                        <div class="col-sm-6 pizza-small">
                            <div>
                                <img class="ui right spaced avatar image" src="images/size-icon.svg">
                                <span class="diagonal">30</span>
                            </div>
                            <div>
                                <img class="ui right spaced avatar image" src="images/weight.svg">
                                <span class="gram">370</span>
                            </div>
                            <h2>
                                <div class="price">99<div style="font-size:14px;"> грн.</div></div>
                            </h2>
                            <a class="btn btn-warning buy-button-small" role="button">Купити</a>
                        </div>



                        <div class="col-sm-6 pizza-big">
                            <div>
                                <img class="ui right spaced avatar image" src="images/size-icon.svg">
                                <span class="diagonal">40</span>
                            </div>
                            <div>
                                <img class="ui right spaced avatar image" src="images/weight.svg">
                                <span class="gram">660</span>
                            </div>
                            <h2>
                                <div class="price">169<div style="font-size:14px;"> грн.</div></div>
                            </h2>
                            <a class="btn btn-warning  buy-button-big" role="button">Купити</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 pizza-card">
            <div class="thumbnail">
                <img class="pizza-icon" src="images/pizza_7.jpg" alt="Pizza">
                <h3 class="pizza-label-new"><span class="label label-danger">Нова</span></h3>
                <div class="caption">
                    <span class="title">Імпреза</span>
                    <div class="type">М’ясна піца</div>
                    <div class="description">
                        балик, салямі, куриця, сир моцарелла, сир рокфорд, ананаси, томатна паста, петрушка
                    </div>
                    <div class="row">
                        <div class="col-sm-6 pizza-small">
                            <div>
                                <img class="ui right spaced avatar image" src="images/size-icon.svg">
                                <span class="diagonal">30</span>
                            </div>
                            <div>
                                <img class="ui right spaced avatar image" src="images/weight.svg">
                                <span class="gram">370</span>
                            </div>
                            <h2>
                                <div class="price">99<div style="font-size:14px;"> грн.</div></div>
                            </h2>
                            <a class="btn btn-warning buy-button-small" role="button">Купити</a>
                        </div>



                        <div class="col-sm-6 pizza-big">
                            <div>
                                <img class="ui right spaced avatar image" src="images/size-icon.svg">
                                <span class="diagonal">40</span>
                            </div>
                            <div>
                                <img class="ui right spaced avatar image" src="images/weight.svg">
                                <span class="gram">660</span>
                            </div>
                            <h2>
                                <div class="price">169<div style="font-size:14px;"> грн.</div></div>
                            </h2>
                            <a class="btn btn-warning  buy-button-big" role="button">Купити</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 pizza-card">
            <div class="thumbnail">
                <img class="pizza-icon" src="images/pizza_7.jpg" alt="Pizza">
                <h3 class="pizza-label-new"><span class="label label-danger">Нова</span></h3>
                <div class="caption">
                    <span class="title">Імпреза</span>
                    <div class="type">М’ясна піца</div>
                    <div class="description">
                        балик, салямі, куриця, сир моцарелла, сир рокфорд, ананаси, томатна паста, петрушка
                    </div>
                    <div class="row">
                        <div class="col-sm-6 pizza-small">
                            <div>
                                <img class="ui right spaced avatar image" src="images/size-icon.svg">
                                <span class="diagonal">30</span>
                            </div>
                            <div>
                                <img class="ui right spaced avatar image" src="images/weight.svg">
                                <span class="gram">370</span>
                            </div>
                            <h2>
                                <div class="price">99<div style="font-size:14px;"> грн.</div></div>
                            </h2>
                            <a class="btn btn-warning buy-button-small" role="button">Купити</a>
                        </div>



                        <div class="col-sm-6 pizza-big">
                            <div>
                                <img class="ui right spaced avatar image" src="images/size-icon.svg">
                                <span class="diagonal">40</span>
                            </div>
                            <div>
                                <img class="ui right spaced avatar image" src="images/weight.svg">
                                <span class="gram">660</span>
                            </div>
                            <h2>
                                <div class="price">169<div style="font-size:14px;"> грн.</div></div>
                            </h2>
                            <a class="btn btn-warning  buy-button-big" role="button">Купити</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-xm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-xm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-xm-12 col-md-4 col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-xm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-xm-12 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-xm-12 col-md-4 col-lg-4"></div>
    </div>
</div>