<div class="filters">
    <a class="selected-btn" href="#">
        All
    </a>
    <a class="btn" href="#">
        Meat pizzas
    </a>
    <a class="btn" href="#">
        Pineapple pizzas
    </a>
    <a class="btn" href="#">
        Mushroom pizzas
    </a>
    <a class="btn" href="#">
        Seaproduct pizzas
    </a>
    <a href="#" class="btn">
        Vegan pizzas
    </a>
</div>