<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="header-styles.css">
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <meta charset="UTF-8">
    <title>Pizza</title>
</head>
<body>
<div>
    <div class="header navbar-fixed-top">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <div class="sticker">
                    <div class="sticker-img">
                        <span class="text sticker-text">Pizza</span>
                        <span class="text sticker-text">KMA</span>
                    </div>
                    <div class="flag"></div>
                </div>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 header-elements">
                <div class="row description">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <span class="text number">(044) 222 5 222</span>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <span class="text time-description">24 hours/7 days a week</span>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <span class="text place-description">Free delivery to a place</span>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <div class="btn btn-warning log-in">Log in</div>
                    </div>
                </div>
                <hr/>
                <div class="text logo-text">Pizza</div>
            </div>
        </div>
        <div class="list">
            <div>
                <div class="row header-list">
                    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                        <span id="ordered" class="order">
                            Order
                        </span>
                        <span class="counter" id="counter">0</span>
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                        <span id="clean_order" class="clean">Clean order</span>
                    </div>
                </div>
                <div class="list-body"></div>
                <div class="footer">
                    <div class="us-text">Sum of order:</div>
                    <button class="button btn-warning buy">Buy</button>
                </div>
            </div>
        </div>
    </div>


